/**
 * Licensed to Marvelution under one or more contributor license 
 * agreements.  See the NOTICE file distributed with this work 
 * for additional information regarding copyright ownership.
 * Marvelution licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file except
 * in compliance with the License.
 * You may obtain a copy of the License at
 *
 *  http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/** Common Styles **/
a {
	color: #000;
}

img {
	border: 0;
	vertical-align: text-top;
}

.sonar-footer {
	padding: 5px 5px 2px 5px;
	text-align: center;
	font-size: xx-small;
	width: 99%;
	float: right;
}

.view-container {
	margin: 5px;
	padding: 0;
	background-color: #FFF;
}

.view-container p, .view-container h4,
.left-column p, .left-column h4,
.right-column p, .right-column h4,
.left-column-onethird p, .left-column-onethird h4,
.left-column-twothird p, .left-column-twothird h4,
.right-column-onethird p, .right-column-onethird h4,
.right-column-twothird p, .right-column-twothird h4 {
	margin: 0;
	padding: 0;
}

.left-column {
	width: 48%;
	float: left;
}

.right-column {
	width: 48%;
	float: right;
}

.left-column-onethird {
	width: 32%;
	float: left;
}

.right-column-twothird {
	width: 64%;
	float: right;
}

.left-column-twothird {
	width: 64%;
	float: left;
}

.right-column-onethird {
	width: 32%;
	float: right;
}

.big-measure {
	font-size: 152%;
	font-weight: bold;
}

.alert_null,
.alert_OK {
	
}

.alert_WARN {
	background-color: #FF8500;
	color: #FFF;
	margin: 0;
	padding: 0 3px;
}

.alert_ERROR {
	background-color: #F93F40;
	color: #FFF;
	margin: 0;
	padding: 0 3px;
}

/** Violations Styles **/
.violation-row {
	clear: both;
	width: 250px;
}

.violation-row img {
	padding: 0px 2px 0px 0px;
	float: left;
}

.violation-name {
	padding: 0px 2px;
	width: 50px;
	text-align: left;
	float: left;
}

.violations {
	padding: 0px 2px;
	width: 50px;
	text-align: right;
	float: left;
}

div.barchart {
	border: 0;
	margin: 0;
	padding: 3px 2px;
	float: left;
}

div.barchart>div {
	background-color: #4B9FD5;
	height: .9em;
}

/** Comon Tabs styles **/
#tabs {
	
}

#tabs .tab {
	padding: 2px 10px;
	border: 1px solid #CCC;
	background-color: #CCC;
	cursor: pointer;
}

#tabs .selected {
	background-color: #FFF;
	border-bottom: 1px solid #FFF;
}

#charts {
	padding: 5px;
	margin-top: 1px;
	border: 1px solid #CCC;
	background-color: #FFF;
}

#charts .chart {
	text-align: center;
	height: 150px;
}

/** Treemap styles **/
.treemap-header {
	font-size: 90%;
}

.treemap-header label {
	padding: 0px 5px;
}

.treemap-header select {
	font-size: 90%;
}

.treemap-tooltip {
	z-index: 3000;
	white-space: nowrap; 
}

.treemap-tooltip-header {
	font-size: 105%;
	font-weight: bold;
}

.treemap-tooltip-measure {
	font-size: 95%;
}

.treemapView {
}

.treemapSquare {
}

.treemapH, .treemapV {
}

.treemapCell {
	cursor: pointer;
}

.treemapHead {
}

.treemapLegend {
}

.treemapLegendDescr {
}

.sonar-treemap-cell {
	padding: 5px;
	color: #FFF;
	font-size: 105%;
	font-weight: bold;
}

/** Events styles **/
#eventsTable {
	border: 0px;
	width: 100%;
}

#eventsTable td {
	padding: 7px;
}

.even-row {
	background-color: #F4F4F4;
}

.odd-row {
	background-color: #FFF;
}

/** Time Machine styles **/
.time-machine-metrics {
	float: left;
	margin: 0;
	width: 20%;
}

.time-machine-metric-domain-header {
	font-weight: bold;
}

.time-machine-metrics li label {
	margin-left: 5px;
}

.time-machine-metrics li {
	list-style-type: none;
	padding: 0px 5px 0px 5px;
}

/** Quality Index styles **/
table.qidata {}

table.qidata td {
	padding: 0 5px 0 0;
}

.qidata-bg-row {
	display: block;
	height: 0.9em;
	border: 0;
	float: left;
	margin: 3px 5px;
	padding: 0;
	background-color: #00DF00;
}

.qidata-row {
	height: 0.9em;
	background-color: #DF0000;
}

/** SQALE Styles **/
.sqale-overview {
	float: left;
	margin-right: 10px;
	padding: 5px;
	vertical-align: top;
}

.sqale-overview span {
    padding: 4px;
}

#fdr-table {
	width: 100%;
}

#fdr-table td {
	height: 18px;
}

#fdr-bar {
	float: right;
	margin-bottom: 5px;
}

#fdr-bar div.fdr-legend {
	height: 16px;
	width: 16px;
	font-size: 12px;
	float: left;
	text-align: center;
	vertical-align: middle;
}

.sqale-overview .A span,
.sqale-overview .A a,
.sqale-overview .A a:link,
.sqale-overview .A a:active,
.sqale-overview .B span,
.sqale-overview .B a,
.sqale-overview .B a:link,
.sqale-overview .B a:active,
.sqale-overview .C span,
.sqale-overview .C a,
.sqale-overview .C a:link,
.sqale-overview .C a:active,
#fdr-table td.A,
#fdr-table td.B,
#fdr-table td.C,
#fdr-bar div.A,
#fdr-bar div.B,
#fdr-bar div.C {
	color: #000;
}

.sqale-overview .A span,
#fdr-table td.A,
#fdr-bar div.A {
	background-color: #00AA00;
}

.sqale-overview .B span,
#fdr-table td.B,
#fdr-bar div.B {
	background-color: #80CC00;
}

.sqale-overview .C span,
#fdr-table td.C,
#fdr-bar div.C {
	background-color: #FFEE00;
}

.sqale-overview .D span,
.sqale-overview .D a,
.sqale-overview .D a:link,
.sqale-overview .D a:active,
.sqale-overview .E span,
.sqale-overview .E a,
.sqale-overview .E a:link,
.sqale-overview .E a:active,
#fdr-table td.D,
#fdr-table td.E,
#fdr-bar div.D,
#fdr-bar div.E {
	color: #EFEFEF;
}

.sqale-overview .D span,
#fdr-table td.D,
#fdr-bar div.D {
	background-color: #F77700;
}

.sqale-overview .E span,
#fdr-table td.E,
#fdr-bar div.E {
	background-color: #EE0000;
}

#pyramid-table,
#rrc-table {
	width: 100%;
}

#pyramid-table td
#rrc-table td {
	padding: 4px 10px 4px 0;
}

#pyramid-table div.legend-total,
#pyramid-table div.legend-cost,
#rrc-table div.legend-total,
#rrc-table div.legend-cost {
	width: 10px;
	height: 10px;
	display: inline-block;
	zoom: 1;
}

#pyramid-table div.legend-cost,
#rrc-table div.legend-cost {
	background-color: #92B7D3;
}

#pyramid-table div.legend-total,
#rrc-table div.legend-total {
	background-color: #2A4269;
}

#rrc-table td.icon {
	width: 1%;
}

#rrc-table td.icon img {
	border: 0px;
}

#pyramid-table td.label,
#rrc-table td.label {
	width: 1%;
	white-space: nowrap;
	text-align: left;
}

#pyramid-table td.label {
	padding: 0 10px 0 0;
}

#rrc-table td.label {
	padding: 0 10px;
}

#pyramid-table td.bar {
	width: 97%;
}

#rrc-table td.bar {
	width: 96%;
}

#pyramid-table div.outer-bar,
#rrc-table div.outer-bar {
	height: 17px;
	background-color: #2A4269;
}

#pyramid-table div.inner-bar,
#rrc-table div.inner-bar {
	border-top: 3px solid #2A4269;
	height: 11px;
	background-color: #92B7D3;
	float: right;
}

#rrc-table th.cost,
#rrc-table th.total,
#rrc-table td.cost,
#rrc-table td.total,
#pyramid-table th.cost,
#pyramid-table th.total,
#pyramid-table td.cost,
#pyramid-table td.total {
	width: 1%;
	white-space: nowrap;
	text-align: right;
	padding: 0 0 0 10px;
}

.sunburst-header {
	font-size: 90%;
}

.sunburst-header label {
	padding: 0px 5px;
}

.sunburst-header select {
	font-size: 90%;
	width: 50px;
	min-width: 50px;
}

.tip {
	color: #333;
	background-color: #EEE;
	border: 1px solid #666;
	-moz-box-shadow: #555 2px 2px 8px;
	-webkit-box-shadow: #555 2px 2px 8px;
	-o-box-shadow: #555 2px 2px 8px;
	box-shadow: #555 2px 2px 8px;
	opacity: 0.9;
	filter: alpha(opacity =   90);
	font-size: 0.9em;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding: 7px;
	text-align: left;
	width: auto;
	max-width: 500px;
}

.sunburst-tip-title {
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	margin-bottom: 2px;
}
